/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
Slut reset Css*/
body{
    font-family:"Verdana", Geneva, sans-serif;
    font-size:85%;
    color:#797066;
    line-height:22px;
}
h1{
    font-family:"Times New Roman", Times, serif;
    font-size:200%;
    line-height:50px;
}
h2{
    font-family:"Times New Roman", Times, serif;
    font-size:150%;
    padding-top:25px;
}
a{
    color:#797066;
    font-size:120%;
}
#container{
    margin:auto;
    width:600px;
    background-color:#eae7d2;
}
#topbar{
    background-color:#51473d;
    color:#eae7d2;
    text-align:right;
    font-style:italic;
    font-size:95%;
    line-height:20px;
}
#menu{
    width:600px;
    padding-top:200px;
    background:#51473d url('pics/coffey.jpg') no-repeat right top;
    background-color:#51473d;
    overflow:hidden;
}
    #menu ul{
        padding-left:20px;
        width:580px;
        background-color:#51473d;
    }
    #menu ul li{
        margin-right:1px;
        background-color:#797066;
        float:left;
    }
    #menu .active{
        color:#000000;
        background-color:#eae7d2;
    }
    #menu ul li a{
        padding:10px 20px;
        display:block;
        text-decoration:none;
        color:#eae7d2;
    }
    #menu ul li a:hover{
        background-color:#9c9084;
    }

#content{
    padding:10px;
    width:580px;
    clear: both;
}
#maincontent{
    float:left;
    width:350px;
}
#subcontent{
    width:220px;
    padding-left:5px;
    float:right;
    font-size:75%;
    border-left:1px dashed;
}
    #subcontent h1{
        font-size:150%;
        
    }
#bottomcontent{
    clear: both;
    width:580px;
    padding:10px;
    font-size:95%;
    font-style:italic;
}
/*
Slut reset Css
	<div id="container">
	<div id="topbar">	
		<div id="menu">
		<div id="content">
		<div id="maincontent">
		<div id="subcontent">
		<div id="bottomcontent">*/

